<!doctype html>
<html>
  <head>
    
    <title>{{title}}</title>
    
    <link rel="stylesheet" href="style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  <body>
    <header id="header">
      <h1 class="title">{{title}}</h1>
      <h2 class="author">{{author}}</h2>
      <div class="blurb">{{blurb}}</div>
      <div class="url">&raquo;&nbsp;<a href="https://zlsa.github.io/wasp-book">zlsa.github.io/wasp-book</a></div>
    </header>
    <main>
      {{{sections}}}
    </main>
  </body>
</html>
