
padding = 12px;

#header {

  font-family: 'Roboto Mono';

  margin-top: padding * 4;
  padding: padding 0;
  
  .title {
    font-size: 400%;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0.5;

    margin: padding 0;
  }

  .author {
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;
    
    margin: padding 0;
  }
  
}
