
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Merriweather');
@import 'reset.styl';
@import 'header.styl';
@import 'section.styl';

html, body {
  width: 100%;
  min-height: 100%;
}

html {
  background-color: #eee;
  
  font-family: 'Merriweather', serif;
  color: #444;
}

body {
  width: 100%;
  max-width: 48em;
  margin: 0 auto;
  padding: 0 1em;

  padding-bottom: 80vh;
}