

section {
  
  margin-top: 8em;

  @media print {
    margin-top: 3em;
  }
  
  header {

    background-color: #444;
    color: #fff;

    margin: 0 (padding * -4);
    padding: padding padding * 4;
    
    font-family: 'Roboto Mono';

    @media print {
      padding: padding padding;
      margin: 0;
      background-color: transparent;
      color: #444;
    }
    
    
    .name {

      .number {
        opacity: 0.5;
        margin-right: 0.5em;
      }
      
      font-size: 150%;
      font-weight: bold;
      text-transform: uppercase;

      margin: 6px 0;
    }
    
    margin-bottom: padding * 4;
  }

  h3 {
    font-family: Roboto Mono;
    text-transform: uppercase;
    font-weight: bold;
    
    text-align: center;
    margin: 2em 0;
  }

  line-height: 170%;

  em {
    margin-right: 0.1em;
  }

  hr:after {
    content: '***';
    display: block;
    text-align: center;
    margin: 2em 0;
    letter-spacing: 2em;
  }
  
  p + p {
    margin-top: 1em;
    text-indent: 2em;
  }

  @media print {
    line-height: 175%;

    p + p {
      margin-top: 0;
    }
    
  }
  
  pre, code {
    font-family: 'Roboto Mono', monospace;
    font-size: 95%;
    font-weight: bold;

    color: #444;
  }

  pre {
    margin: padding 0;
    padding: 0 padding*2;
  }

}

