
section {
  
  margin-top: 8em;
  
  header {

    background-color: #444;
    color: #fff;

    margin: 0 (padding * -4);
    padding: padding padding * 4;
    
    font-family: 'Roboto Slab';

    .name {
      font-size: 150%;
      font-weight: bold;
      text-transform: uppercase;

      margin: 6px 0;
    }
    
    margin-bottom: padding * 4;
  }

  line-height: 150%;

  hr:after {
    content: '***';
    display: block;
    text-align: center;
    margin: 2em 0;
    letter-spacing: 2em;
  }
  
  p + p {
    margin-top: 1em;
    text-indent: 2em;
  }

}
